// Font Import

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// Variables

$font-primary: 'Inter', sans-serif;
$purple: #6C5CE7;
$yellow: #FDCB6E;
$dark: #2D3436;
$white: #ffffff;

$maxWidth: 1200px;

// Mixins

@mixin text-style($color, $weight) {
  color: $color;
  font-weight: $weight;
}


// Global Styles

body {
  font-family: $font-primary;
  background-color: $white;
}

//-------------------------------------------------- Header --------------------------------------------------

// Header

.site-header {
  background: $white;
  // box-shadow: 0 6px 0 rgba(0, 0, 0, 1);
  border-bottom: 1px solid #dfe6e9;
}

// Logo

.logo-text {
  @include text-style($dark, 700);
  font-size: 48px;
  line-height: 1;
}

// Navigation Links

.navbar {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  align-self: center;
}

.nav-link {
  font-size: 18px;
  @include text-style($purple, 400);
  padding: 0;

  &:hover {
    opacity: 0.8;
  }
}

// Active link

.nav-link--active {
  @include text-style($dark, 700);
}

// Navigation Divider

.nav-divider {
  font-size: 18px;
  line-height: 1;
  color: $yellow;
  user-select: none;
}

// Sign In Button

.btn-signin {
  font-size: 24px;
  @include text-style($white, 700);
  padding: 12px 28px;
  border-radius: 999px;
  background: linear-gradient(135deg, $purple);
  border: none;

  &:hover {
    opacity: 0.9;
    color: $white;
  }
}


//-------------------------------------------------- Featured Section --------------------------------------------------

.features-section {
  padding: 5rem 0;
  background-color: $white;
  margin: 0 auto;
}

.feature-contents {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 20px;
}

// Features Header
.features-header {
  margin-bottom: 4rem;
  max-width: 1170px;
  justify-content: left;
}

.features-title {
  font-size: 32px;
  font-weight: 700;
  color: $dark;
}

.features-description {
  font-size: 24px;
  font-weight: 400;
  color: #636e72;
  line-height: 36px;
  max-width: 1000px;

}


.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.feature-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 22px;
  color: $white;
  overflow: hidden;

  img {
    width: 56px;
    height: 56px;
    object-fit: contain;
    display: block;
  }
}

.icon-pink {
  background-color: #e84393;

}

.icon-blue {
  background-color: #0984e3;
}

.icon-purple {
  background-color: $purple;
}

.icon-green {
  background-color: #00b894;
}

// Card Text
.feature-title {
  font-size: 24px;
  font-weight: 700;
  color: $dark;
  margin-top: 0.75rem;
}

.feature-text {
  font-size: 18px;
  font-weight: 400;
  color: #636e72;
  line-height: 32px;
  min-height: 128px;

}

// Learn More Link
.feature-link {
  font-size: 14px;
  font-weight: 600;
  color: $purple;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  padding: 6px 16px;
  border: 1px solid #dfe6e9;
  border-radius: 10px;

  &:hover {
    background-color: $purple;
    color: $white;
    border-color: $purple;
  }
}

//-------------------------------------------------- Responsive Styles --------------------------------------------------

@media (max-width: 980px) {

  // Featured Section
  .feature-card {
    max-width: 300px;
    margin: 0 40px;
    padding: 20px 0;
  }
}