// Font Import

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// Variables

$font-primary: 'Inter',
  sans-serif;
$purple: #6C5CE7;
$yellow: #FDCB6E;
$dark: #2D3436;
$grey: #adadad;
$white: #ffffff;

$maxWidth: 1200px;
$line-height-base: 36px;

// Mixins

@mixin text-style($color, $weight, $size: inherit) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
}

//-------------------------------------------------- Global --------------------------------------------------

body {
  font-family: $font-primary;
  background-color: $white;
}

.section-contents {
  position: relative;
  max-width: 1170px;
  justify-content: left;
  padding: 0 20px;
}

.page-section {
  position: relative;
  padding: 3.5rem 0;
  background-color: $white;
  margin: 0 auto;
  z-index: 10;
}

//-------------------------------------------------- Header --------------------------------------------------

// Header

.site-header {
  background: $white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dfe6e9;
  height: 96px;
  z-index: 30;
  position: sticky;
  top: 0;
}

// Logo

.logo-text {
  @include text-style($dark, 700, 48px);
  line-height: $line-height-base;
}

// Navigation Links

.nav-link {
  font-size: 18px;
  @include text-style($purple, 400, 18px);
  padding: 0;

  &:hover {
    opacity: 0.8;
  }
}

// Active link

.nav-link--active {
  @include text-style($dark, 700);
}

// Navigation Divider

.nav-divider {
  @include text-style($yellow, 400, 18px);
  line-height: $line-height-base;
  user-select: none;
}

// Sign In Button

.btn-signin {
  @include text-style($white, 700, 24px);
  padding: 12px 28px;
  border-radius: 999px;
  background: linear-gradient(135deg, $purple);
  border: none;

  &:hover {
    opacity: 0.9;
    color: $white;
  }
}


//-------------------------------------------------- Featured Section --------------------------------------------------



.feature-contents {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 20px;
}

// Features Header

.feature-header {
  margin-bottom: 3rem;
}

.features-title {
  @include text-style($dark, 700, 32px);
}

.features-description {
  @include text-style($dark, 400, 24px);
  margin: 0.5rem 0 0 0;
  line-height: $line-height-base;
  max-width: 1000px;

}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.feature-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 22px;
  color: $white;
  overflow: hidden;

  img {
    width: 56px;
    height: 56px;
    object-fit: contain;
    display: block;
  }
}

.icon-pink {
  background-color: #e84393;

}

.icon-blue {
  background-color: #0984e3;
}

.icon-purple {
  background-color: $purple;
}

.icon-green {
  background-color: #00b894;
}

// Card Text
.feature-title {
  font-size: 24px;
  font-weight: 700;
  color: $dark;
  margin-top: 0.75rem;
}

.feature-text {
  @include text-style($dark, 400, 18px);
  line-height: $line-height-base;
  letter-spacing: -0.25px;
  min-height: 128px;

}

// Learn More Link
.feature-link {
  @include text-style($purple, 700, 18px);
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  padding: 6px 16px;
  border: 1px solid $grey;
  border-radius: 10px;

  &:hover {
    background-color: $purple;
    color: $white;
    border-color: $purple;
  }
}

//-------------------------------------------------- Pricing Styles --------------------------------------------------

.pricing-title {
  @include text-style($dark, 900, 64px);
  letter-spacing: -1px;
  padding: 20px 0px;
}

.pricing-description {
  @include text-style($grey, 700, 32px);
  line-height: 48px;
  letter-spacing: -0.5px;

  // Billing Active Span
  .billing-active {
    position: relative;
    color: $purple;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 15px;
      background-color: $yellow;
      border-radius: 999px;
      z-index: -1;
    }
  }
}

/* Pricing Card */
.pricing-card {
  max-width: 370px;
  background: #fff;
  border-radius: 20px;
  padding: 2.5rem 2rem;
  text-align: left;
  position: relative;
  height: 100%;

  .plan-label {
    @include text-style($purple, 700);
    margin-bottom: 0.5rem;
  }

  .price {
    @include text-style($dark, 700, 48px);
    margin-bottom: 1.5rem;
    letter-spacing: -1px;
    line-height: 56px;

    span {
      font-size: 12px;
      letter-spacing: 2.5px;
    }
  }

  .features {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
    height: 250px;

    li {
      position: relative;
      padding-left: 2.5rem;
      margin-bottom: 1.5rem;
      font-size: 18px;
      letter-spacing: 0px;
      color: $dark;

      &::before {
        content: "✓";
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        background: #e2e2e2;
        color: $dark;
        font-size: 0.75rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
  }

  button {
    @include text-style($purple, 700, 18px);
    line-height: 32px;
    background-color: $white;
    border-color: $grey;
    padding: 8px 16px;
    border-radius: 16px;
    height: 56px;


    &:hover {
      background-color: darken($purple, 5%);
      border-color: darken($purple, 5%);
    }
  }
}

/* Featured Card */
.pricing-card.featured {
  box-shadow: 0 16px 24px 0px #26323814;

  .badge-best {
    position: absolute;
    right: 1.5rem;
    border: 1px solid $purple;
    @include text-style($purple, 700, 0.7rem);
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    letter-spacing: 0.05em;
  }

  .features li::before {
    background: $yellow;
    color: $dark;
  }

  button {
    @include text-style($white, 700, 24px);
    background-color: $purple;
    border-color: $purple;
    height: 56px;

    &:hover {
      background-color: darken($purple, 5%);
      border-color: darken($purple, 5%);
    }
  }
}

// Corporate Card
.pricing-card.corporate {
  .features li {
    &::before {
      background: #aef8e3;
      color: $dark;
    }
  }
}

//-------------------------------------------------- Footer Styles ------------------------------------------------------

.site-footer {
  position: relative;
  background: #fff;
  padding-bottom: 0;

  .footer-label {
    @include text-style($grey, 700, 12px);
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  // Footer Left Section

  /* Social */
  .social-list {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;

    .social-icon {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $purple;
      color: $purple;
      text-decoration: none;
      font-weight: 600;

      &.facebook {
        background: #ffe7a3;
        border-color: transparent;
      }

      &:hover {
        background: $purple;
        color: #fff;
      }
    }
  }

  /* Links */
  .footer-links {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.75rem;

      a {
        @include text-style($dark, 400, 14px);
        line-height: 24px;
        letter-spacing: 0.25px;
        text-decoration: none;

        &.active,
        &:hover {
          // color: $purple;
          text-decoration: underline;
        }
      }
    }
  }

  // Footer Right Section
  /* Email */
  .footer-email {
    @include text-style($purple, 700, 32px);
    text-decoration: none;
  }

  /* Form */
  .contact-form {
    .form-control {
      line-height: $line-height-base;
      background: #f0f0f0;
      border: none;
      border-radius: 14px;
      padding: 0.75rem 1rem;

      &:focus {
        outline: 2px solid rgba(108, 99, 255, 0.3);
        box-shadow: none;
      }

      &::placeholder {
        @include text-style($dark, 400, 18px);
        box-shadow: none;
      }
    }

    .message-input {
      background: #f1f1f1;
      border: 2px solid #d6d3ff;

      &::placeholder {
        @include text-style($purple, 700, 18px);
        box-shadow: none;
      }
    }
  }

  .btn-send {
    @include text-style($white, 700, 18px);
    background: $purple;
    border-radius: 16px;
    padding: 0.75rem 2.5rem;
    text-transform: uppercase;

    &:hover {
      background: darken($purple, 8%);
    }
  }

  /* Wave image */
  .footer-wave {
    margin-top: 30px;
    margin: 30px 0 0 0;
    line-height: 0;

    img {
      width: 100%;
      display: block;
    }
  }

  .input-icon {
    position: relative;

    img {
      position: absolute;
      left: 85%;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      pointer-events: none;
    }
  }
}

//-------------------------------------------------- Hero Styles ------------------------------------------------------

.hero-title {
  position: relative;
  @include text-style($dark, 800, 96px);
  letter-spacing: -3px;
  line-height: 104px;
  z-index: 20;
}

.highlight {
  position: relative;
  @include text-style(#d63031, 800, 96px);
  text-shadow: 0 4px 0 $white;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 51px;
    background-color: #55efc4;
    border-radius: 999px;
    z-index: -1;
  }
}

.hero-description {
  position: relative;
  @include text-style($dark, 900, 64px);
  margin-top: 1rem;
  line-height: 40px;
  z-index: 20;
}

.mixed-grid {
  z-index: 10;
}

.grid-text {
  @include text-style($dark, 400, 18px);
  line-height: 32px;
}

.btn-primary {
  @include text-style($white, 700, 32px);
  background: #6c5ce7;
  border: none;
  width: 270px;
  height: 82px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover {
    background: darken(#6c5ce7, 8%);
  }
}

.info-card {
  position: relative;
  background: #000;
  color: #fff;
  border-radius: 1.25rem;
  height: 464px;
  max-width: 250px;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  h6,
  p {
    position: relative;
    z-index: 1;
    margin: 0.5rem 0;
  }

  h6 {
    margin-top: 20px;
    @include text-style($white, 700, 18px);
    line-height: 32px;
    letter-spacing: 0.2px;
  }

  p {
    @include text-style($white, 400, 14px);
    line-height: 24px;
    letter-spacing: 0.25px;
  }

  padding: 1.5rem;

}

.image-card {
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  height: 100%;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.large {
    min-height: 380px;
    width: 470px;
    max-width: 470px;
  }

  &.book {
    height: 284px;
    max-width: 250px;
    width: 250px;
    background: #d1c4e9;
  }

  &.pink {
    height: 356px;
    width: 370px;
    background: #f5b7d2;
  }
}

.mini-card {
  position: relative;
  background: #f1f2f6;
  border-radius: 1.25rem;
  max-width: 160px;
  min-height: 222px;
  overflow: hidden;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.alphabet {
    background: #ececec;
  }

  &.blue {
    background: #1e90ff;
  }

  &.building {
    background: #dfe6e9;
  }
}

.caption {
  position: absolute;
  bottom: 1.25rem;
  @include text-style($white, 700, 48px);
  line-height: 56px;
  letter-spacing: -1px;
  text-shadow: 0 5px 0 #000;
  z-index: 2;

  &.model-caption {
    top: 1.25rem;
    left: 10%;

  }

  &.team-caption {
    bottom: 1.25rem;
    left: 8%;
  }


}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 900px;
  opacity: 0.5;

  &.hero-bg-2 {
    top: 50px;
    width: 300px;
  }
}





//-------------------------------------------------- Responsive Styles --------------------------------------------------

@media (max-width: 980px) {

  // Header
  .site-header {
    height: 72px;
  }

  .logo-text {
    font-size: 24px;
  }

  .btn-signin {
    font-size: 18px;
    padding: 12px 28px;
    border-radius: 10px;
  }

  // Featured Section
  .feature-card {
    max-width: 300px;
    margin: 0 40px;
    padding: 20px 0;
  }

  // Footer Styles
  .site-footer {

    /* Links */
    .footer-links {
      display: none;
    }

    .footer-label {
      text-align: center;
      margin-bottom: 1rem;
      font-size: clamp(1rem, 2vw, 1.125rem);
      font-weight: 600;
    }

    .footer-label.responsive-none {
      display: none;
    }

    .footer-label.visually-hidden {
      display: none;
    }


    .footer-section {
      text-align: center;
    }

    .footer-email {
      display: inline-block;
      margin-top: 0.5rem;
      font-size: 2rem;
    }

    .contact-form {
      display: none;
    }

    .social-list {
      justify-content: center;
      align-items: center;
    }
  }

  // Hero Styles
  .mixed-grid {
    flex-direction: column;
    gap: 2rem;
  }

  .hero-title {
    position: relative;
    @include text-style($dark, 800, 64px);
    line-height: 60px;
  }

  .highlight {
    position: relative;
    @include text-style(#d63031, 800, 64px);
    text-shadow: 0 4px 0 $white;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0%;
      width: 100%;
      height: 30px;
      background-color: #55efc4;
      border-radius: 999px;
      z-index: -1;
    }
  }

  .hero-description {
    position: relative;
    @include text-style($dark, 900, 32px);
    margin-top: 1rem;
    line-height: 40px;
    z-index: 20;
  }

  .hero-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 400px;
    opacity: 0.5;

    &.hero-bg-2 {
      top: 100px;
      width: 100px;
    }
  }

  //Pricing Section
  .features {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;

    li {
      position: relative;
      padding-left: clamp(1.5rem, 5vw, 2.5rem);
      margin-bottom: 1.5rem;
      font-size: clamp(0.9rem, 2vw, 1.125rem);
      letter-spacing: 0;
      color: $dark;

      &::before {
        content: "✓";
        position: absolute;
        left: 0;
        top: 0;
        width: clamp(1.5rem, 4vw, 2rem);
        height: clamp(1.5rem, 4vw, 2rem);
        background: #e2e2e2;
        color: $dark;
        font-size: clamp(0.6rem, 1.5vw, 0.75rem);
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
  }

  .pricing-title {
    @include text-style($dark, 900, 54px);
    padding: 0px 0px;
  }

  .pricing-description {
    @include text-style($grey, 700, 22px);


    // Billing Active Span
    .billing-active {
      position: relative;
      color: $purple;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 10px;
        background-color: $yellow;
        border-radius: 999px;
        z-index: -1;
      }
    }
  }

  .plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    article {
      display: flex;
      justify-content: center;
      width: 100%;

      .pricing-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }

  }
}